#yourName {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: rgb(255, 238, 3);
}
/*css for my name div block below*/
#Prakhar {
  width: 50%;
  height: 50%;
  border: dodgerblue 8px dotted;
  border-radius: 10%;
  background: rgb(255, 238, 3);
  background-image: repeating-radial-gradient(red, yellow 12%, green 15%);
}

#sushilBajracharya01 {
  width: 50%;
  height: 50%;
  border: skyblue 87px double;
  border-bottom-color: #ffbf00;
  border-bottom-style: solid;
}

#kkritii {
  position: relative;
  width: 0;
  height: 0;
  bottom: -15px;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top: 125px solid #ff94b6;
}
#kkritii:before {
  position: absolute;
  width: 0;
  height: 0;
  top: -200px;
  left: -80px;
  content: "";
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 75px solid #55ceff;
}
#kkritii:after {
  position: absolute;
  width: 0;
  height: 0;
  top: -40px;
  right: -40px;
  content: "";
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 50px solid orange;
}


/*dark brown #ba2f1f */
/* light brown  #fc6a41*/
/* middle brown #f85a34 */
#SajanDhakal12 {
  box-shadow: 0 -0.2em 0 0.2em #fc6a41, -0.8em -0.2em 0 0.2em #f85a34,
    0.8em -0.2em 0 0.2em #f85a34, 0 -0.9em 0 0.2em #fc6a41,
    -0.8em -0.9em 0 0.2em #f85a34, 0.8em -0.9em 0 0.2em #f85a34,
    0 -1.7em 0 0.2em #ebe4e4, -0.8em -1.7em 0 0.2em #f85a34,
    0.8em -1.7em 0 0.2em #f85a34, 0 -2.5em 0 0.2em #ffffff,
    -0.8em -2.5em 0 0.2em #f85a34, 0.8em -2.5em 0 0.2em #f85a34,
    0.65em -3.2em 0 0#ebe4e4, -0.65em -3.2em 0 0 #ebe4e4,
    1.15em -3.2em 0 0 #f85a34, -1.15em -3.2em 0 0 #f85a34,
    1.15em -3.7em 0 0 #f85a34, -1.15em -3.7em 0 0 #f85a34,
    0.7em -3.7em 0 0 #f85a34, -0.7em -3.7em 0 0 #f85a34,
    0.25em -3.7em 0 0 #f85a34, -0.25em -3.7em 0 0 #f85a34,
    1.15em -4.1em 0 0 #f85a34, -1.15em -4.1em 0 0 #f85a34,
    0.9em -4.3em 0 0.2em #f85a34, -0.9em -4.3em 0 0.2em #f85a34,
    0.45em -4.3em 0 0.2em black, -0.45em -4.3em 0 0.2em black,
    /* nose */ 0 0.5em 0 0 black, -1em 0.5em 0 0 black, -0.5em 0.5em 0 0 black,
    0.5em 0.5em 0 0 black, 1em 0.5em 0 0 black, 0 1em 0 0 black,
    -0.5em 1em 0 0 black, 0.5em 1em 0 0 black, 0 1.5em 0 0 black,
    /* left eye */ -1.5em 0em 0 0 #ba2f1f, -1.5em -0.5em 0 0 #ba2f1f,
    -1.5em -1em 0 0 #ba2f1f, -1.5em 0em 0 0 #ba2f1f, -2em 0em 0 0 #ba2f1f,
    -2.5em 0em 0 0 #ba2f1f, -2em -0.5em 0 0 black, -2em -1em 0 0 black,
    -2em -1.5em 0 0 #ba2f1f, -2.5em -1.5em 0 0 #ba2f1f, -1.5em -1em 0 0 #ba2f1f,
    -2.5em -0.5em 0 0 black, -3em -0.5em 0 0 #ba2f1f, -3em -1em 0 0 black,
    -3em -1.5em 0 0 black, /*Right eye */ 1.5em 0em 0 0 #ba2f1f,
    1.5em -0.5em 0 0 #ba2f1f, 1.5em -1em 0 0 #ba2f1f, 1.5em 0em 0 0 #ba2f1f,
    2em 0em 0 0 #ba2f1f, 2.5em 0em 0 0 #ba2f1f, 2em -0.5em 0 0 black,
    2em -1em 0 0 black, 2em -1.5em 0 0 #ba2f1f, 2.5em -1.5em 0 0 #ba2f1f,
    1.5em -1em 0 0 #ba2f1f, 2.5em -0.5em 0 0 black, 3em -0.5em 0 0 #ba2f1f,
    3em -1em 0 0 black, 3em -1.5em 0 0 black, /* mouth */ 0 3em 0 0 black,
    -0.5em 3em 0 0 black, -1em 3em 0 0 black, -1.5em 3em 0 0 black,
    -2em 3em 0 0 black, 0.5em 3em 0 0 black, 1em 3em 0 0 black,
    1.5em 3em 0 0 black, 2em 3em 0 0 black, 2.5em 2.5em 0 0 black,
    -2.5em 2.5em 0 0 black;

  background: #fc6a41;
  width: 0.5em;
  height: 0.5em;
  overflow: hidden;
  /* margin: 50px 0 70px 65px; */
}

#star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}
#star-five:before {
  border-bottom: 80px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
#star-five:after {
  position: absolute;
  display: block;
  color: red;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
}
